*{
    margin: 0;
    padding: 0;
}

#contenido{
    width: 900px;
    height: 1000;
    background-color: rgb(198, 193, 199);
    margin: 10px;
    padding: 20px;
}


body{

    background-color: rgb(226, 223, 227);
    color: rgb(8, 8, 8);
}



ul{
    text-align: center;
    padding: 20px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(17, 17, 17);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
#encabezado{
    width: 80%;
    background-color: rgb(170, 166, 176);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu{
    height: 60px;
    background-color: rgb(151, 146, 156);
    margin: 1em;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#pie{
    height: 100px;
    background-color: rgb(132, 134, 147);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  rgb(243, 239, 239);
}
/*selector de clase*/

.img{
    width: 50%;
    border-radius: 20px;
    justify-items: center;
 }
 
 .texto{
     text-align: justify;
    font-family: ger;
     font-size: 20px;
     padding: 5px 25px;
     color: rgb(0, 0, 0);
 
 }
 

 
 .card{
    box-shadow: 0 4px 8px 0 black (0, 0, 0, 0);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

 }

 

 .card img{
    background-color: rgb(148, 142, 142);
 }
 
.title{
    color: rgb(154, 117, 188);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: rgb(248, 245, 245);
    background-color: rgb(86, 84, 90);
    text-align: center;
    width: 100%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.linea{
    width: 80%;
    height: 5px;
    background-color: black;
    margin: 10px auto;
}