*{
    margin: 0;
    padding: 0;
}

/*selector de etiquetas*/

body{

    background-color: rgb(123, 105, 131);
    color: white;
}

/*selector de Id*/
#contenedor{
    width: 800px;
    height: 5700px;
    background-color: rgb(145, 118, 145);
    margin: 10px;
    padding: 20px;
}

#encabezado{
    width: 800px;
    background-color: rgb(110, 88, 112);
    margin: 1em;
    border-radius: 10px;
    text-align: center;
}

#menu{
    height: 40px;
    background-color: rgb(118, 95, 119);
    margin: 1em;
    border-radius: 5px;
}

#pie{
    height: 40px;
    background-color: rgb(131, 95, 129);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

#pie h4{
    padding: 15px;
    font-size: 25px;
    color:  black;
}



/*selector de etiqueta de menu*/

ul{
    text-align: center;
    padding: 10px;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: rgb(224, 212, 215);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

/*selector de clase*/

.img{
   width: 10%;
   border-radius: 10px;
   justify-items: center;
}

.texto{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(243, 242, 242);
    text-align: center;

}



.a{
    text-align: center;
}


.card{
    box-shadow: 0 4px 8px 0 black (0, 0, 0, 0);
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgb(153, 136, 152);
 }

 .card:hover{
    max-width: 310px;
 }

 .card img{
    background-color: rgb(179, 139, 189);
 }
 
.title{
    color: rgb(17, 16, 17);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
    border: none;
    outline: 0;
    display: block;
    padding: 8px;
    color: rgb(248, 245, 245);
    background-color: rgb(105, 79, 105);
    text-align: center;
    
    width: 100%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
} 
.linea{
    width: 80%;
    height: 1px;
    background-color: black;
    margin: 20px auto;
} 